@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.favorite-card {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
    border: 2px solid #2b2b2b;
    background-color: #202020;
    margin-bottom: 10px;
    
    .favorite-card__body {
        @include flex-row;

        .favorite-card__img {
            height: 140px;
            border-radius: 4px;
            overflow: hidden
        }
        
        .favorite-card__description {
            @include flex-column;
            align-items: start;
            margin-left: 24px;
            color: $white-color;
        }
    }

    .favorite-card__remove-btn {
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding: 10px 20px;
        
        &:hover {
            background-color: red !important;
            border-color: red !important;
        }
    }
   
}